.container {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 10px;
}

.item {
    border: 2px solid #fff777;
    background-color: yellowgreen;
    display: grid;
    place-content: center;
    font-weight: 1000;
}